body {
  overflow-y: scroll;
  height: 100%;
  padding: 0 20px;
}

h1 {
  text-align: center;
}

#grid {
  background-color: #F1F1F1;
  border: 1px solid #DDDDDD;
  border-bottom: 0;
  position: relative;
  width: 500px;
  margin-bottom: 40px;
}

.grid-cell {
  font-size: 12px;
  height: 30px;
  border-bottom: 1px solid #DDDDDD;
  padding: 5px 0 0 6px;
}

#grid-events {
  position: absolute;
  top: 0;
}

.grid-event {
  position: absolute !important;
  top: 0;
  width: 498px;
  overflow: hidden;
  cursor: move;
}

.grid-event-content {
  font-size: 12px;
  border: 1px solid #9FC6E7;
  background-color: #E4EFF8;
  color: #444444;
}

.grid-event .event-time {
  float: left;
  margin: 5px 0 0 5px;
  width: 80px;
  font-weight: bold;
}

.grid-event .event-name {
  float: left;
  margin: 5px 0 0 5px;
}

